<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Edit your actor</h3>
        <%= simple_form_for @actor do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :field %>
          <%= f.input :photo, as: :file %>
          <%= f.input :description %>
          <%= f.submit class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
