<div class="index_container">
  <div class="actor_container">
    <% @actors.each do |actor| %>
      <div class="big_card">
        <%=cl_image_tag actor.photo.key, class: "img_actors_img" %>
        <div class="info_card_actor">
          <div class="only_info">
            <h5 ><%= actor.name %></h5>
            <p class="card-text"><%= actor.price %></p>
            <p class="card-text"><%= actor.field %></p>
            <p class="card-text"><%= actor.description %></p>
          </div>
          <%= link_to "Infos", actor_path(actor),id:"buton_index"%>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map"
      style="width: 500px; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<% if policy(Actor).create? %>
  <p class='text-left'><%= link_to 'Add a new actor', new_actor_path, class: 'btn btn-primary' %></p
      <% end %>
