<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a new actor to our website</h3>
        <%= simple_form_for @actor do |f| %>
          <%= f.input :name, placeholder: 'Mister Bean' %>
          <%= f.input :price, placeholder: '10 $' %>
          <%= f.input :field, placeholder: 'Comedy' %>
          <%= f.input :address, placeholder: 'Tour Eiffel' %>
          <%= f.input :photo, as: :file %>
          <%= f.input :description, placeholder: 'English actor, comedian and writer. He is best known for his work on the sitcoms Blackadder (1983–1989) and Mr. Bean (1990–1995)' %>
          <%= f.submit class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
