<div class="container_show">
  <div><% if @actor.photo.attached? %>
      <%= cl_image_tag @actor.photo.key %>
    <% end %></div>
  <ul>
    <div class="show_information">
      <li class='actor_name'><%= @actor.name %></li>
      <li class='actor_price'><%= @actor.price %></li>
      <li class='actor_field'><%= @actor.field %></li>
      <li class='actor_description'><%= @actor.description %></li>
      <li class='class_adress'><%= @actor.address %></li>
      <%# <%= link_to 'Book the Actor', new_actor_booking_path, class: "btn btn-primary" %>
    </div>
  </ul>
</div>
<div class="btn_show">
  <% if policy(@actor).edit? %>
    <%= link_to 'Edit infos', edit_actor_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
