


  <% @bookings_current_user.each do |booking| %>

    <div class="card-product">

    <% if booking.actor.photo.attached? %>
      <%= cl_image_tag booking.actor.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
     <%= "No picture attached guys!!!!!!" %>
    <% end %>

      <div class="card-product-infos">
        <h2>Ordered_Guy: <%= booking.actor.name %></h2>
        <p><%= booking.start_date %>-<%= booking.end_date %></p>
      </div>
    </div>

  <% end %>
